/* styles.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Sidebar Styles */

.logo img {
    width: 170px;
    height: 170px;
    object-fit: contain; /* Asegura que la imagen mantenga sus proporciones */
}

.sidebar {
    background-color: #003366;
    color: white;
    width: 250px;
    padding: 20px;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 10px 0;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
  }
/* Content Area */
.content {
    width: 80%;
    padding: 20px;
}

h1, h2 {
    color: #002855;
}

/* Form Container */
.form-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

/* Form Group */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: calc(100% - 10px);
    padding: 5px;
}

/* Table Styles */
.data-table {
    width: 100%;
    border-collapse: collapse; /* Elimina los espacios entre bordes */
    margin-top: 20px; /* Separación con los campos superiores */
}

.data-table th,
.data-table td {
    border: 1px solid #ccc; /* Bordes de la tabla */
    padding: 10px; /* Espaciado interno */
    text-align: left; /* Alineación del texto */
}

.data-table th {
    background-color: #e0e0e0; /* Fondo gris claro para encabezados */
}

/* Button Styles */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.horario-btn i {
    margin-right: 5px; /* Espaciado entre el icono y el texto */
}

.volver {
    margin-top: 20px; /* Separación superior para el botón "Volver" */
}

  /* Botones de acción */
  .view-btn, .edit-btn, .delete-btn {
    background-color: #007bff; /* Azul para los botones */
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 5px; /* Espaciado entre botones */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
  }
  
  .edit-btn {
    background-color: #ffc107; /* Amarillo para "Modificar" */
  }
  
  
  .delete-btn {
    background-color: #dc3545; /* Rojo para "Eliminar" */
  }
